Source: grml-vpn
Section: grml
Priority: optional
Maintainer: Michael Gebetsroither <gebi@grml.org>
Uploaders: Michael Prokop <mika@grml.org>
Build-Depends: debhelper (>= 5), xsltproc, docbook-xsl, asciidoc
Standards-Version: 3.9.2
Homepage: http://git.grml.org/?p=grml-vpn.git
Vcs-git: git://git.grml.org/grml-vpn.git
Vcs-Browser: http://git.grml.org/?p=grml-vpn.git
Origin: Grml
Bugs: mailto:bugs@grml.org

Package: grml-vpn
Architecture: all
Depends: grml-shlib (>=1.02.04), ipsec-tools, md5deep, zsh, bc
Description: program to establish encrypted communication channels in a network
 This program should provide an easy interface to setkey and IPsec on Linux
 2.6. Good luck!
